/* #region Vars */
.demo-overlay {
  --demo-overlay-bg-color: #001428;
  --demo-overlay-text-color: white;
}
/* #endregion */

/* #region Font faces */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(./assets/nunito-variable.ttf) format("truetype");
  unicoderange: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF;
}
/* #endregion */

.demo-overlay {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 999;
  height: 50px;
  color: var(--demo-overlay-text-color);
  fill: var(--demo-overlay-text-color);
  white-space: nowrap;
  text-decoration: none;
  font-family: Nunito;
  font-weight: 400;
  font-size: 18px;
}

.demo-overlay-switch {
  background-color: unset;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 50px;
  background-color: var(--demo-overlay-bg-color);
  border-radius: 999px;
  opacity: 0.33;
  transition: all 0.2s ease-in-out;
  padding: 0;
  box-sizing: border-box;
  &:hover {
    opacity: 1;
    transform: scale(0.9);
  }
  &:active {
    opacity: 0.66;
    transform: scale(0.8);
  }
}
.demo-overlay-active .demo-overlay-switch {
  opacity: 1;
}

.demo-overlay-switch-icon-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.demo-overlay-switch-icon {
  transition: all 0.4s cubic-bezier(0.14, 1.13, 0.19, 1.33);
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.demo-overlay-open-icon {
  top: 0;
  bottom: 0;
}
.demo-overlay-active .demo-overlay-open-icon {
  top: -100%;
  bottom: 100%;
}

.demo-overlay-close-icon {
  top: 100%;
  bottom: -100%;
}
.demo-overlay-active .demo-overlay-close-icon {
  top: 0;
  bottom: 0;
}

.demo-overlay .demo-overlay-content-container {
  width: auto;
  overflow: hidden;
  background-color: var(--demo-overlay-bg-color);
  border-radius: 999px;
  height: 100%;
  transition: transform 0.4s cubic-bezier(0.14, 1.13, 0.19, 1.33);
  box-sizing: border-box;
  transform: translateY(-65px);
}
.demo-overlay-active .demo-overlay-content-container {
  transform: translateY(0);
}

.demo-overlay-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

.demo-overlay-link {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  font-weight: 700;
  &:hover {
    opacity: 0.5;
  }
}

.demo-overlay-link-icon {
  height: 20%;
}

@media screen and (max-width: 600px) {
  .demo-overlay {
    top: 10px;
    left: 10px;
    font-size: 15px;
  }

  .demo-overlay-content {
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .demo-overlay-link {
    gap: 8px;
  }

  .demo-overlay-link-icon {
    height: 17%;
  }
}
