@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(nunito-variable.ttf) format("truetype");
  unicoderange: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF;
}

.demo-overlay-container {
  background-color: black;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  flex-direction: row;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  z-index: 999;
  border-radius: 0 0 5px 5px;
}
.demo-overlay-container * {
  font-family: Nunito;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.back-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2px;
  pointer-events: initial;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
.back-button:hover {
  opacity: 0.5;
}

.back-button > svg {
  height: 33px;
  width: 33px;
  fill: white;
}
